body {
  margin: 0;
  font-family: Arial;
  background: #f4f8ff;
}

/* LOGIN */
.loginBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0a3d91;
}

.loginBox {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.logo {
  width: 80px;
}

/* HEADER */
header {
  background: white;
  border-bottom: 3px solid #0a3d91;
}

.banner {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

nav {
  display: flex;
  gap: 15px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #0a3d91;
  font-weight: bold;
}

/* APPS */
.apps {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* GOOGLE */
.googleFrame {
  width: 100%;
  height: 80vh;
  border: none;
}
